@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Mono", monospace;
  min-height: 100vh;
}

span,
p,
a {
  font-family: "Manjari", sans-serif;
  color: #434c5e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b4252;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #434c5e;
  border-radius: 1rem;
}
