---
// import { IconAlertTriangle } from "@tabler/icons";
import Button from "components/atoms/button/Button";
import Layout from "layouts/Layout.astro";
---

<Layout title="404">
  <div class="l-not-found">
    <div class="l-not-found__wrapper">
      <img src="/assets/404.svg" alt="404" class="l-not-found__illustration" />
      <div class="l-not-found__error">
        <!-- <IconAlertTriangle /> -->
        <span>404</span>
      </div>
      <h3 class="l-not-found__title">Page not Found</h3>
      <p class="l-not-found__text">
        Sorry, the page you are looking for doesn&apos;t exist or has been
        removed. Keep exploring out site:
      </p>
      <Button client:load asLink href="/">Go Back Home</Button>
    </div>
  </div>
</Layout>

<style>
  .l-not-found {
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
    width: 88%;
    margin-inline: auto;
  }
  .l-not-found__wrapper {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .l-not-found__error {
    height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #fef2f2;
    color: #991b1b;
    border-radius: 0.4rem;
    padding-inline: 1rem;
    font-size: 0.95rem;
    margin-block: 0.5rem 0.2rem;
  }
  .l-not-found__error span {
    font-weight: 600;
    font-size: 0.95rem;
    position: relative;
    top: 4px;
  }
  .l-not-found__title {
    font-size: 1.8rem;
  }
  .l-not-found__text {
    margin-block: 0.4rem 0.2rem;
  }
  .l-not-found__illustration {
    max-width: 100%;
    width: 30rem;
  }
  @media (min-width: 550px) {
    .l-not-found {
      width: 100%;
    }
  }
</style>
