---
import Layout from "layouts/Layout.astro";
import socials from "libs/constants/social";
---

<Layout>
  <main class="p-12">
    <h1 class="text-polarNight0">rendy ramadhan</h1>
    <h1 class="text-polarNight0">jakarta, idn</h1>

    <div class="mt-16">
      <h1 class="font-bold mb-[6px]">today</h1>
      <p class="font-spaceMono max-w-[33rem]">
        I work as frontend developer at
        <span class="underline">teravin technovations</span>
        currently learning rust and 日本語, also interested in embedded system.
      </p>
    </div>

    <!-- <div class="mt-16">
      <h1 class="font-bold mb-[6px]">projects</h1>
      <p>-</p>
    </div> -->
    <div class="mt-16">
      <h1 class="font-bold mb-[6px]">links</h1>
      <ul>
        {
          socials.map(({ name, url }) => (
            <li>
              <a href={url} class="underline">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
