<span class="c-label"><slot /></span>

<style>
  .c-label {
    font-size: 13px;
    font-weight: 600;
    background-color: #5e81ac;
    color: #eceff4;
    min-height: 1.5rem;
    display: grid;
    place-items: center;
    padding-inline: 0.7rem;
    padding-top: 5px;
    border-radius: 0.3rem;
  }
</style>
