---
import type { Photo } from "types/photo";
import { Image } from "@astrojs/image/components";

export type Props = {
  photo: Photo;
};

const { photo } = Astro.props as Props;
---

<figure
  class="hidden relative w-[13rem] h-[18rem] before:content-[''] before:absolute before:-z-[1] before:top-0 before:left-0 before:w-full before:h-full before:translate-x-[15px] before:translate-y-[15px] before:rounded-md before:border-[6px] before:border-solid before:border-snowStorm2 md:block lg:w-[19rem] lg:h-[25rem]"
  data-aos="fade-up"
>
  <Image
    src={photo.urls.full}
    alt={photo.description ?? photo.alt_description}
    width={305}
    height={400}
    aspectRatio={16 / 9}
    format="webp"
    loading="lazy"
  />
  <figcaption
    class="font-spaceMono absolute -left-[25px] right-0 -bottom-[7rem] h-fit text-end text-sm lg:-bottom-[3rem]"
  >
    Photo by {" "}
    <a
      href={photo.user.links.html}
      class="font-[inherit] font-medium text-polarNight0"
      >{photo.user.first_name + " " + photo.user.last_name}
    </a>
    {" "}on <a
      href={photo.links.html}
      class="font-[inherit] font-medium text-polarNight0">Unsplash</a
    >
  </figcaption>
</figure>

<style>
  img {
    border-radius: 0.4rem;
    object-fit: cover;
  }
</style>
