.c-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: inherit;
  position: relative;
  width: 100%;
  &__list {
    position: absolute;
    left: 0;
    transition: 250ms ease-in-out;
    min-height: inherit;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 0.9rem;
    opacity: 0;
    transform: translateX(-20%);
    &.active {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &__logo {
    font-size: 1.2rem;
    color: #4c566a;
  }
  &__item a {
    color: #434c5e;
    transition: color 0.3s ease-in-out;
    font-weight: 300;
    &:hover {
      color: #88c0d0;
    }
  }
  @media (min-width: 480px) {
    &__list {
      gap: 2rem;
    }
  }
  @media (min-width: 650px) {
    &__list {
      position: relative;
      opacity: 1;
      transform: translateX(0);
      width: fit-content;
    }
  }
  @media (min-width: 768px) {
    &__list {
      gap: 2.5rem;
      font-size: 1rem;
    }
  }
  @media (min-width: 900px) {
    &__list {
      gap: 3rem;
    }
  }
}
