<section id="contact" class="l-contact">
  <h2 class="l-contact__title section-title">Contact Me</h2>
  <p>
    If you want to get in touch, you can find me on{" "}
    <a
      href="https://www.facebook.com/rendy.farhan02/"
      style={{ textDecoration: "underline" }}
    >
      facebook
    </a>
    . Or you can email me if you preferred to
  </p>
</section>

<style>
  .l-contact {
    margin-block: 4rem 3rem;
  }
  .l-contact__title {
    margin-bottom: 1rem;
  }
</style>
